body {
    background-color: rgb(210, 236, 255);
    text-align: center;
}
header {
    background: linear-gradient(to right, #0099ff , #3eddf9);
    padding: 2.5rem;
    position: relative;
}
.dark-mode {
    position: absolute; 
    top: 10px;
    right: 20px;
    padding: 0.3rem 0.7rem;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor : pointer;
}
.contenu-section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}
.img {
    max-width: 800px;
    border-radius: 20px;
}
/*dark mode*/
body.mode-sombre {
    background-color: #121212;
    color: #e0e0e0
}
body.mode-sombre .image-recadre {
    border-color: #fff;
}
body.mode-sombre .dark-mode-header {
    background: linear-gradient(to right, #757575 , #444);
}
/*aparition en slide */
.contenu-section {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}
.contenu-section.visible {
    opacity: 1;
    transform: translateY(0);
}
.image-recadre {
    border: 5px solid #0099ff;
    overflow: hidden;
    border-radius: 25px;
    max-height: 449px;
}
.image-recadre:hover {
    border-color: #3eddf9;
}
#image-cadre{
    transition: transform 1s ease;
    transform-origin: center center;
}
.smiley-image {
    width: 100px;
    position: fixed;
    z-index: 100;
    bottom: 10px;
    right: -300px;
    transition: 0.1s;
}